.alba {
    &__container {
        margin-top: 160px;
    }

    &__heading {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 41px;
        color: #000000;
        margin-bottom: 60px;    
    }

    &__span {
        color: #FF9619;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__img {
        background-color: #F2F3F5;
       width: 250px;
       height: 200px;
     }

     &__text {
         text-align: center;
     }
}

@media only screen and (max-width:376px) {
    .alba {
        &__container {
            margin-top: 160px;
        }
    
        &__heading {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 150%;
            color: #000000;
            margin-bottom: 30px;    
        }
    
        &__span {
            color: #FF9619;
        }
    
        &__list {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            gap: 30px;
        }
    
        &__img {
            background-color: #F2F3F5;
            width: 200px;
            height: 150px;
         }
    
         &__text {
             text-align: center;
         }
    }
}